body {
  background-color: #36393f;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  min-height: 100vh;
}

/*-- Discord Overlay --*/
.avatar {
  height: 60px !important;
  width: 60px !important;
  border-radius: 0 !important;
  filter: brightness(70%);
  object-fit: contain;
  outline: none;
  box-sizing: content-box;
}
.speaking {
  border-color: rgba(0, 0, 0, 0) !important;
  position: relative;
  animation-name: speak-now;
  animation-duration: 5000ms;
  animation-fill-mode: forwards;
  filter: brightness(100%);
  filter: drop-shadow(-1px -1px 2px #43b581) drop-shadow(1px -1px 2px #43b581)
    drop-shadow(-1px 1px 2px #43b581) drop-shadow(1px 1px 2px #43b581);
  /*filter: drop-shadow(right bottom blur color);*/
}
@keyframes speak-now {
  0% {
    bottom: 0px;
  }
  5% {
    bottom: 6px;
  }
  10% {
    bottom: 0px;
  }
  15% {
    bottom: 6px;
  }
  20% {
    bottom: 0px;
  }
  25% {
    bottom: 6px;
  }
  30% {
    bottom: 0px;
  }
  35% {
    bottom: 6px;
  }
  40% {
    bottom: 0px;
  }
  45% {
    bottom: 6px;
  }
  50% {
    bottom: 0px;
  }
  55% {
    bottom: 6px;
  }
  60% {
    bottom: 0px;
  }
  65% {
    bottom: 6px;
  }
  70% {
    bottom: 0px;
  }
  75% {
    bottom: 6px;
  }
  80% {
    bottom: 0px;
  }
  85% {
    bottom: 6px;
  }
  90% {
    bottom: 0px;
  }
  95% {
    bottom: 6px;
  }
  100% {
    bottom: 0px;
  }
}
.voice-states {
  height: 70px;
}
.voice-states .voice-state {
  display: inline-block;
  width: 60px;
  height: 60px;
  outline: none;
  padding: 0px 2px;
  cursor: pointer;
  z-index: 2;
}
.voice-states .user {
  display: contents;
}
.voice-states .name {
  display: block;
  position: relative;
  bottom: 21px;
  left: 3px;
  cursor: pointer;
  font-size: 10px !important;
  width: 60px;
  line-height: 18px !important;
  white-space: nowrap;
  text-overflow: clip;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7) !important;
  padding: 0 !important;
  overflow: hidden;
}

/*-- button --*/
.edit {
  float: left;
  margin: 1px;
  width: 80px;
}
.button {
  display: block;
  margin: 2px;
  padding: 1px 6px;
  text-align: center;
  text-decoration: none !important;
  color: #bbbbbb;
  background-color: #36393f;
  border: solid 2px #a0a0a0;
  border-radius: 3px;
  transition: 0.4s;
  cursor: pointer;
  z-index: 1;
  position: relative;
}
.button:visited {
  color: #bbbbbb;
}
.button:hover {
  background: #a0a0a0 !important;
  color: white !important;
}

.emergency-button {
  width: 20px;
  bottom: 59px;
  left: 1px;
  position: relative;
  display: block;
  opacity: 0.8;
  filter: brightness(0.5);
}

/*-- map --*/
#map {
  width: 100%;
  max-height: 85vh;
  object-fit: contain;
}

/*-- crewmate image --*/
.crewmates {
  height: 40px;
  width: 40px;
  object-fit: contain;
}

/*-- color-panel --*/
.sp-palette-container {
  padding: 0px;
  padding-bottom: 300px;
  margin-bottom: -300px;
}
.sp-thumb-el {
  border: solid 1px #a0a0a0 !important;
}
.sp-thumb-inner {
  background-image: none !important;
}

/*-- sidebar --*/
main {
  flex: 1;
  margin: 10px;
}
aside {
  width: 16%;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  background-color: #2f3136;
}
nav {
  color: #c0c0c0;
  cursor: default;
}
.map-list,
nav {
  margin: 10px 10px 0 10px;
  font-size: 18px;
}
#TheSkeld {
  background: #a0a0a0;
  color: white;
}
.material-icons {
  font-size: 18px;
  display: inline-flex;
  vertical-align: middle;
}
.transform {
  transform: scale(-1, 1);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav .voice-state {
  height: 24px;
  padding: 1px 6px;
  margin-bottom: 2px;
  border-radius: 4px;
}
nav .avatar {
  width: 24px !important;
  height: 24px !important;
  border-radius: 50% !important;
  float: left;
  margin-right: 4px;
}
nav .name {
  position: relative;
  top: -2px;
}
#rule-table {
  font-size: 13px;
  margin: auto auto 10px 10px;
  color: #c0c0c0;
  z-index: 1;
  cursor: default;
}
#rule-table tr td:nth-of-type(2) {
  text-align: right;
}
#rule-table input {
  width: 41px;
  text-align: right;
  background: rgba(0, 0, 0, 0);
  color: #c0c0c0;
  border: none;
  outline: none;
}
#crewmate-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
}
.open,
.close {
  display: none;
  cursor: pointer;
  z-index: 1;
}
input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}
@media screen and (max-width: 1000px) {
  main {
    width: 100%;
  }
  .open,
  .close {
    display: block;
    font-size: 35px;
    line-height: 25px;
    color: #a0a0a0;
  }
  .open {
    position: absolute;
    right: 0;
    padding: 10px;
  }
  .close {
    margin: 10px 10px 0 auto;
  }
  aside {
    position: absolute;
    right: -180px;
    height: 100%;
    transition: all 0.2s;
    z-index: 1;
  }
  input[type="checkbox"]:checked ~ aside {
    right: 0;
  }
  input[type="checkbox"]:checked ~ .back {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.8); */
  }
}
